

<!-- shop section start -->
<div class="shop_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="shop_taital">Our Products</h1>
                <p class="shop_text">
                    We provide high-quality construction materials at competitive prices. We are committed to bringing the best products for your construction projects with reliable service and expert advice.
                </p>
            </div>
        </div>

        <!-- products block 1 -->
        <div class="shop_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-1.png" alt="Cement Bags" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>Premium Cement</h5>
                                <p>$25 per bag</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-2.png" alt="Bricks" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>Clay Bricks</h5>
                                <p>$0.50 per brick</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-3.png" alt="Steel Bars" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>Steel Reinforcement</h5>
                                <p>$150 per ton</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- products block 2 -->
        <div class="shop_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-4.png" alt="Construction Sand" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>Construction Sand</h5>
                                <p>$30 per cubic yard</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-5.png" alt="Roof Tiles" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>Roof Tiles</h5>
                                <p>$2.50 per tile</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-6.png" alt="PVC Pipes" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>PVC Pipes</h5>
                                <p>$15 per 10ft</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- products block 3 -->
        <div class="shop_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-7.png" alt="Paint" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>Interior Paint</h5>
                                <p>$45 per gallon</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-8.png" alt="Construction Tools" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>Tool Set</h5>
                                <p>$120 per set</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container_main">
                        <img src="images/img-9.png" alt="Electrical Supplies" class="image">
                        <div class="overlay">
                            <div class="text">
                                <h5>Electrical Supplies</h5>
                                <p>Starting at $8</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="seemore_bt"><a href="#">View All Products</a></div>
    </div>
</div>
<!-- shop section end -->

